<div>
    <div class="container">
        <ul class="backup-list">
            {% for backup in backups %}
            <li class="backup-list-item">{{backup}}</li>
            {% endfor %}
        </ul>
        <div class="side-column">
            <div class="latest-backup">
                Latest Backup: {{ latest_backup }}
            </div>
            <div class="backup-buttons">
                
                <button class="status-button backup">Backup</button>
                <button class="status-button restore">Restore</button>
            </div>
        </div>
        
    </div>
</div>