<h1 class="page-title">Download Mods</h1>

<div class="loading-complete" id="loading-complete">
    <button class="download-button" onclick="sendDownloadRequest()">Download Mods</button>
    <!-- <a href="download_zip" class="download-button">Download Mods</a> -->
</div>

<div class="loading" id="loading">
    <div class="loading-spinner"></div>
    <h3>Please wait while the mods are zipped for download...</h3>
</div>

<script src="https://kit.fontawesome.com/6d95b1a75c.js" crossorigin="anonymous"></script>
<script src="/static/js/download_mods.js"></script>